body{
    background:white;
}
.Our_Menu{
    text-align: center;
}
.menu_container{
    margin: 40px;
}
.menu_title{
    border: 1px solid #000000;
    text-align: center;
    padding: 5px;
}
.menu_text{
    border: 1px solid black;
    text-align: left;
    padding: 15px;
    background-color: grey;
    margin-bottom: 20px;
}
