body{
    background:white;
}
.Our_Menu{
    text-align: center;
    font-size: 175%;
}
.menu_container{
    margin: 20px;
}
.menu_inners{
    display: flex;
    justify-content: space-around;
}
.menu_inner{
    margin: 20px;
}
.menu_title{
    border: 1px solid #000000;
    padding: 5px;
    float: right;
    width: 100px;
    text-align: center;
    font-size: 125%;
    
}
.menu_text{
    border: 1px solid black;
    text-align: left;
    padding: 15px;
    background-color: grey;
    padding-top: 45px;
}

@media (max-width:767px) {
.menu_inners{
    display: block;
    margin: 20px;
    }
.Our_Menu{
    font-size: 110%;
}
.menu_title{
    font-size: 110%;
}
.menu_container{
    margin: 0px;
}